form{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;
    gap: 15px;
    padding-top: 90px;
}

.form-container{
  display: flex;
    justify-content: center;
    background-color: var(--light-violet);
    width: fit-content;
    padding: 25px;
    font-family: var(--unnamed-font-family-kumbh-sans);
}

.form-content{
  display: flex;
    align-items: center;
}

.h1-container{
  display: flex;
    justify-content: center;
    padding-top: 50px;
}

.create-btn{
    background-color: var(--violet);
    color: #fff;
    padding: 13px;
    border-radius: 8px;
}

.background-form{
  display: flex;
  justify-content: center;
}