.main-header {
    background-image: url('../../../public/img/background.svg');
    min-height: 12.4rem;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.main-header .container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    justify-content: space-around;
    gap: 47rem;
}



.logo-img,
.theme-button {
    padding-top: 44px;
}



.theme-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


#toggle-dark-theme {
    height: 1.7rem;
    width: 3rem;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
}

#toggle-dark-theme .circle-theme {
    background-color: var(--violet);
    height: 14px;
    width: 14px;
    border-radius: 100%;
    transition: 0.3s;
    margin-left: 3px;
}

#toggle-dark-theme-checked {
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: lightgreen;
    transition: 0.3s;
}

#toggle-dark-theme-checked .circle-theme-checked {
    margin-left: 2.5rem;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    transition: 0.3s;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-content {
    display: flex;
    gap: 1rem;
    background-color: var(--white);
    position: absolute;
    top: 132px;
    width: 1110px;
    height: 80px;
    align-items: center;
    padding: 16px;
    margin-top: 22px;
    border-radius: 6px;
}

.search-content .search-input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: var(--unnamed-font-size-16);
    font-family: var(--unnamed-font-family-kumbh-sans);
    color: var(--dark-grey)
}

.search-input{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;

}

.check-container{
    width: 40%;
    font-size: var(--unnamed-font-size-16);
    color: var(--very-dark-blue);
    font-weight: bold;
    font-family: var(--unnamed-font-family-kumbh-sans);
    display: flex;
    gap: 16px;
}



.search-content button {
    background-color: var(--violet);
    width: 215px;
    height: 48px;
    color: var(--white);
    padding: 17px;
    border-radius: 5px;
    font-weight: bold;
    font-family: var(--unnamed-font-family-kumbh-sans);
    font-size: var(--unnamed-font-size-16);
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-content button:hover {
    background-color: var(--light-violet);
}





@media (max-width: 900px) {
    .main-header {
        background-image: url('../../../public/img/background-mobile.svg');
    }
}